@model IQueryable<Product>

@{
    ViewData["Title"] = "Home";
}

<!-- Product List Placeholder -->
<div class="row">
    <div class="col-md-4 d-none d-md-block d-lg-block">
        <ul class="list-group">
                    <a class="text-decoration-none fw-bold text-light" 
                    asp-controller="Home" 
                    asp-action="Index" 
                    asp-route-page="1"
                    >
                        <li class="list-group-item @(ViewBag.CurrentCategory == null ? "active" : "")">
                            All
                        </li>
                    </a>
            </li>
            @foreach (var category in ViewBag.Categories)
            {
                
                    <a class="text-decoration-none fw-bold text-light" 
                    asp-controller="Home" 
                    asp-action="Index" 
                    asp-route-category="@category"
                    >
                        <li class="list-group-item @(category == ViewBag.CurrentCategory ? "active" : "")">
                            @category
                        </li>    
                    </a>
            }
        </ul>
    </div>    

    <div class="col-md-8">
        <partial name="_ProductListPartial"></partial>
    </div>
</div>


<!-- Pagination -->
<div class="d-flex justify-content-center align-items-center gap-2">
    @if (ViewBag.CurrentPage > 1)
    {
        <a class="btn btn-primary btn-sm" 
        asp-action="Index" 
        asp-route-category="@ViewBag.CurrentCategory" 
        asp-route-page="@(ViewBag.CurrentPage - 1)" 
        data-page="@(ViewBag.CurrentPage - 1)"
        >
            <i class="fas fa-chevron-left"></i> Prev
        </a>
    }

    <div class="d-flex gap-1">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            @if (ViewBag.CurrentPage == i)
            {
                <a class="btn btn-danger btn-sm" 
                asp-action="Index" 
                asp-route-category="@ViewBag.CurrentCategory" 
                asp-route-page="@i" 
                data-page="@i"
                >
                    @i
                </a>
            }
            else
            {
                <a class="btn btn-outline-secondary btn-sm" 
                asp-action="Index"  
                asp-route-category="@ViewBag.CurrentCategory" 
                asp-route-page="@i" 
                data-page="@i"
                >
                    @i
                </a>
            }
        }
    </div>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a class="btn btn-primary btn-sm" 
        asp-action="Index" 
        asp-route-category="@ViewBag.CurrentCategory" 
        asp-route-page="@(ViewBag.CurrentPage + 1)" 
        data-page="@(ViewBag.CurrentPage + 1)"
        >
            Next <i class="fas fa-chevron-right"></i>
        </a>
    }
</div>
